<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CookGodTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CookGodDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>BroadcastServlet</servlet-name>
    <servlet-class>com.broadcast.controller.BroadcastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadcastServlet</servlet-name>
    <url-pattern>/broadcast/broadcast.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustServlet</servlet-name>
    <servlet-class>com.cust.controller.CustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustServlet</servlet-name>
    <url-pattern>/cust/cust.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FoodOrderServlet</servlet-name>
    <servlet-class>com.foodOrder.controller.FoodOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodOrderServlet</servlet-name>
    <url-pattern>/foodOrder/foodOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuOrderServlet</servlet-name>
    <servlet-class>android.com.menuOrder.controller.MenuOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuOrderServlet</servlet-name>
    <url-pattern>/menuOrder/menuOrder.do</url-pattern>
  </servlet-mapping>
</web-app>