<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CookGodTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CookGodDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>BroadcastServlet</servlet-name>
    <servlet-class>com.broadcast.controller.BroadcastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadcastServlet</servlet-name>
    <url-pattern>/broadcast/broadcast.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustServlet</servlet-name>
    <servlet-class>com.cust.controller.CustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustServlet</servlet-name>
    <url-pattern>/cust/cust.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FoodOrderServlet</servlet-name>
    <servlet-class>com.foodOrder.controller.FoodOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodOrderServlet</servlet-name>
    <url-pattern>/foodOrder/foodOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuOrderServlet</servlet-name>
    <servlet-class>com.menuOrder.controller.MenuOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuOrderServlet</servlet-name>
    <url-pattern>/menuOrder/menuOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidOrderByCustServlet</servlet-name>
    <servlet-class>android.com.orderByCust.controller.OrderByCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrderByCustServlet</servlet-name>
    <url-pattern>/OrderByCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidCustServlet</servlet-name>
    <servlet-class>android.com.cust.controller.CustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidCustServlet</servlet-name>
    <url-pattern>/CustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidFoodOrderServlet</servlet-name>
    <servlet-class>com.foodOrder.controller.FoodOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidFoodOrderServlet</servlet-name>
    <url-pattern>/FoodOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMenuDishServlet</servlet-name>
    <servlet-class>android.com.menuDish.controller.MenuDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMenuDishServlet</servlet-name>
    <url-pattern>/MenuDishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMenuServlet</servlet-name>
    <servlet-class>android.com.menu.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidDishServlet</servlet-name>
    <servlet-class>android.com.dish.controller.DishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidDishServlet</servlet-name>
    <url-pattern>/DishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidOrderByChefServlet</servlet-name>
    <servlet-class>android.com.orderByChef.controller.OrderByChefServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrderByChefServlet</servlet-name>
    <url-pattern>/OrderByChefServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidCherOrderServlet</servlet-name>
    <servlet-class>android.com.chefOrder.controller.CherOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidCherOrderServlet</servlet-name>
    <url-pattern>/CherOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidFoodMallServlet</servlet-name>
    <servlet-class>android.com.foodMall.controller.FoodMallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidFoodMallServlet</servlet-name>
    <url-pattern>/FoodMallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidChefOdDetailServlet</servlet-name>
    <servlet-class>android.com.chefOdDetail.controller.ChefOdDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidChefOdDetailServlet</servlet-name>
    <url-pattern>/ChefOdDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMenuOrderServlet</servlet-name>
    <servlet-class>android.com.menuOrder.controller.MenuOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMenuOrderServlet</servlet-name>
    <url-pattern>/MenuOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMenuOrderRateServlet</servlet-name>
    <servlet-class>android.com.menuOrder.controller.MenuOrderRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMenuOrderRateServlet</servlet-name>
    <url-pattern>/MenuOrderRateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidChefOdDetailByChefServlet</servlet-name>
    <servlet-class>android.com.chefOdDetail.controller.ChefOdDetailByChefServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidChefOdDetailByChefServlet</servlet-name>
    <url-pattern>/ChefOdDetailByChefServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidOrderByChefQRCodeServlet</servlet-name>
    <servlet-class>android.com.orderByChef.controller.OrderByChefQRCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrderByChefQRCodeServlet</servlet-name>
    <url-pattern>/OrderByChefQRCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidBroadcastServlet</servlet-name>
    <servlet-class>android.com.broadcast.controller.BroadcastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidBroadcastServlet</servlet-name>
    <url-pattern>/BroadcastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidAdServlet</servlet-name>
    <servlet-class>android.com.ad.controller.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidAdServlet</servlet-name>
    <url-pattern>/AdServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AndroidChefSchServlet</servlet-name>
    <servlet-class>android.com.chefSch.controller.ChefSchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidChefSchServlet</servlet-name>
    <url-pattern>/ChefSchServlet</url-pattern>
  </servlet-mapping>
</web-app>